body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-tabs-top > .ant-tabs-nav::before{
  border: none;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: '';
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: '';
}


@import 'antd/dist/antd.css';
